html, body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    margin: 5px;
    padding: 0;
}

canvas {
    border: solid 1px #c0c0c0;
}

#draw {
    float: left;
    margin-right: 50px;  
}

#buttons {
    clear: both;
}

#predict {
    font-size: 14px;
}

#prediction {
    font-size: 26px;
    font-weight: bold;
}